body {
  background-color: #FFFFFF;
  font-family: verdana;
  text-align: center;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9730615b-dbd4-457c-a660-553bdc19b958/d92id8v-d61896ed-8050-4df6-8fa2-1f90a56b1f4a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85NzMwNjE1Yi1kYmQ0LTQ1N2MtYTY2MC01NTNiZGMxOWI5NTgvZDkyaWQ4di1kNjE4OTZlZC04MDUwLTRkZjYtOGZhMi0xZjkwYTU2YjFmNGEuanBnIn1dXX0.1twKGQUvObB-9mwfN1qqcqwwJVbCzt5unkOtbw6Ol_Q");
}

h1 {
  color: #8B0000;
  margin-left: 20px;
}

h2 {
  color: #0066ff;
  margin-left: 20px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
/* hab ich ausm' Internet btw
/* nvm jetzt ist es von mit selbst gemacht
