body {
  background-color: #FFFFFF;
  font-family: verdana;
  text-align: center;
}

h1 {
  color: #8B0000;
  margin-left: 20px;
}

h2 {
  color: #0066ff;
  margin-left: 20px;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}
/* hab ich ausm' Internet btw
/* nvm jetzt ist es von mit selbst gemacht
